* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  min-height: 100dvh;
  background-color: #313131;
}

h1 {
  color: whitesmoke;
  font-size: 6rem;
}
